<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>ActionResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>AnalyzerWarningSummaries</key>
				<array/>
				<key>ErrorCount</key>
				<integer>0</integer>
				<key>ErrorSummaries</key>
				<array/>
				<key>LogPath</key>
				<string>1_Test/action.xcactivitylog</string>
				<key>Status</key>
				<string>IDEActionResultStatus_Failed</string>
				<key>TestFailureSummaries</key>
				<array>
					<dict>
						<key>DocumentLocationData</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGISJYJHZl
						cnNpb25YJG9iamVjdHNZJGFyY2hp
						dmVyVCR0b3ASAAGGoKQHCBgZVSRu
						dWxs2gkKCwwNDg8QERITFBQVFRYU
						FxQUW2RvY3VtZW50VVJMXxAUc3Rh
						cnRpbmdDb2x1bW5OdW1iZXJfEBJl
						bmRpbmdDb2x1bW5OdW1iZXJfEBFj
						aGFyYWN0ZXJSYW5nZUxlbl8QEGxv
						Y2F0aW9uRW5jb2RpbmdWJGNsYXNz
						XxAQZW5kaW5nTGluZU51bWJlcll0
						aW1lc3RhbXBfEBJzdGFydGluZ0xp
						bmVOdW1iZXJfEBFjaGFyYWN0ZXJS
						YW5nZUxvY4ACE///////////EACA
						A4AAXxA7ZmlsZTovLy9Vc2Vycy96
						dGNxL0RvY3VtZW50cy93b3JrZGly
						L2Zhc3RDYXNlLyUzQ3Vua25vd24l
						M0XSGhscHVokY2xhc3NuYW1lWCRj
						bGFzc2VzXxAXRFZUVGV4dERvY3Vt
						ZW50TG9jYXRpb26jHh8gXxAXRFZU
						VGV4dERvY3VtZW50TG9jYXRpb25f
						EBNEVlREb2N1bWVudExvY2F0aW9u
						WE5TT2JqZWN0XxAPTlNLZXllZEFy
						Y2hpdmVy0SMkVHJvb3SAAQAIABEA
						GgAjAC0AMgA3ADwAQgBXAGMAegCP
						AKMAtgC9ANAA2gDvAQMBBQEOARAB
						EgEUAVIBVwFiAWsBhQGJAaMBuQHC
						AdQB1wHcAAAAAAAAAgEAAAAAAAAA
						JQAAAAAAAAAAAAAAAAAAAd4=
						</data>
						<key>IssueType</key>
						<string>Uncategorized</string>
						<key>Message</key>
						<string>Failed to scroll to visible (by AX action) Other, 0x1c019d9b0, traits: 8589934592, error: Error -25204 performing AXAction 2003 on element &lt;XCAccessibilityElement: 0x15fe28f90&gt; pid: 5842, elementOrHash.elementID: 7720038784.378</string>
						<key>TestCase</key>
						<string>XCTestAccout.testmodifyPayPassword()</string>
					</dict>
					<dict>
						<key>DocumentLocationData</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGIiNYJHZl
						cnNpb25YJG9iamVjdHNZJGFyY2hp
						dmVyVCR0b3ASAAGGoKQHCBkaVSRu
						dWxs2gkKCwwNDg8QERITFBQVFRYX
						GBcUW2RvY3VtZW50VVJMXxAUc3Rh
						cnRpbmdDb2x1bW5OdW1iZXJfEBJl
						bmRpbmdDb2x1bW5OdW1iZXJfEBFj
						aGFyYWN0ZXJSYW5nZUxlbl8QEGxv
						Y2F0aW9uRW5jb2RpbmdWJGNsYXNz
						XxAQZW5kaW5nTGluZU51bWJlcll0
						aW1lc3RhbXBfEBJzdGFydGluZ0xp
						bmVOdW1iZXJfEBFjaGFyYWN0ZXJS
						YW5nZUxvY4ACE///////////EACA
						AxCRgABfEG9maWxlOi8vL1VzZXJz
						L3p0Y3EvRG9jdW1lbnRzL3dvcmtk
						aXIvZmFzdENhc2UvWENUZXN0V0Qt
						bWFzdGVyL1hDVGVzdFdEL1hDVGVz
						dENhc2UvWENUZXN0Q2FzZS9YQ1Rl
						c3RBY2NvdXQuc3dpZnTSGxwdHlok
						Y2xhc3NuYW1lWCRjbGFzc2VzXxAX
						RFZUVGV4dERvY3VtZW50TG9jYXRp
						b26jHyAhXxAXRFZUVGV4dERvY3Vt
						ZW50TG9jYXRpb25fEBNEVlREb2N1
						bWVudExvY2F0aW9uWE5TT2JqZWN0
						XxAPTlNLZXllZEFyY2hpdmVy0SQl
						VHJvb3SAAQAIABEAGgAjAC0AMgA3
						ADwAQgBXAGMAegCPAKMAtgC9ANAA
						2gDvAQMBBQEOARABEgEUARYBiAGN
						AZgBoQG7Ab8B2QHvAfgCCgINAhIA
						AAAAAAACAQAAAAAAAAAmAAAAAAAA
						AAAAAAAAAAACFA==
						</data>
						<key>IssueType</key>
						<string>Uncategorized</string>
						<key>Message</key>
						<string>Unable to find hit point for Other, 0x1d038ec70, traits: 8589934592</string>
						<key>TestCase</key>
						<string>XCTestAccout.testmodifyPayPassword()</string>
					</dict>
					<dict>
						<key>DocumentLocationData</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGIiNYJHZl
						cnNpb25YJG9iamVjdHNZJGFyY2hp
						dmVyVCR0b3ASAAGGoKQHCBkaVSRu
						dWxs2gkKCwwNDg8QERITFBQVFRYX
						GBcUW2RvY3VtZW50VVJMXxAUc3Rh
						cnRpbmdDb2x1bW5OdW1iZXJfEBJl
						bmRpbmdDb2x1bW5OdW1iZXJfEBFj
						aGFyYWN0ZXJSYW5nZUxlbl8QEGxv
						Y2F0aW9uRW5jb2RpbmdWJGNsYXNz
						XxAQZW5kaW5nTGluZU51bWJlcll0
						aW1lc3RhbXBfEBJzdGFydGluZ0xp
						bmVOdW1iZXJfEBFjaGFyYWN0ZXJS
						YW5nZUxvY4ACE///////////EACA
						AxAugABfEHBmaWxlOi8vL1VzZXJz
						L3p0Y3EvRG9jdW1lbnRzL3dvcmtk
						aXIvZmFzdENhc2UvWENUZXN0V0Qt
						bWFzdGVyL1hDVGVzdFdEL1hDVGVz
						dENhc2UvWENUZXN0Q2FzZS9YQ1Rl
						c3RTZXR0aW5nLnN3aWZ00hscHR5a
						JGNsYXNzbmFtZVgkY2xhc3Nlc18Q
						F0RWVFRleHREb2N1bWVudExvY2F0
						aW9uox8gIV8QF0RWVFRleHREb2N1
						bWVudExvY2F0aW9uXxATRFZURG9j
						dW1lbnRMb2NhdGlvblhOU09iamVj
						dF8QD05TS2V5ZWRBcmNoaXZlctEk
						JVRyb290gAEACAARABoAIwAtADIA
						NwA8AEIAVwBjAHoAjwCjALYAvQDQ
						ANoA7wEDAQUBDgEQARIBFAEWAYkB
						jgGZAaIBvAHAAdoB8AH5AgsCDgIT
						AAAAAAAAAgEAAAAAAAAAJgAAAAAA
						AAAAAAAAAAAAAhU=
						</data>
						<key>IssueType</key>
						<string>Uncategorized</string>
						<key>Message</key>
						<string>XCTAssertEqual failed: ("") is not equal to ("账户信息") - </string>
						<key>TestCase</key>
						<string>XCTestSetting.testAbouteleme()</string>
					</dict>
				</array>
				<key>TestSummaryPath</key>
				<string>1_Test/action_TestSummaries.plist</string>
				<key>TestsCount</key>
				<integer>10</integer>
				<key>TestsFailedCount</key>
				<integer>3</integer>
				<key>WarningCount</key>
				<integer>0</integer>
				<key>WarningSummaries</key>
				<array/>
			</dict>
			<key>BuildResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>AnalyzerWarningSummaries</key>
				<array/>
				<key>ErrorCount</key>
				<integer>0</integer>
				<key>ErrorSummaries</key>
				<array/>
				<key>LogPath</key>
				<string>1_Test/build.xcactivitylog</string>
				<key>Status</key>
				<string>IDEActionResultStatus_Succeeded</string>
				<key>TestFailureSummaries</key>
				<array/>
				<key>TestsCount</key>
				<integer>0</integer>
				<key>TestsFailedCount</key>
				<integer>0</integer>
				<key>WarningCount</key>
				<integer>2</integer>
				<key>WarningSummaries</key>
				<array>
					<dict>
						<key>DocumentLocationData</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGISJYJHZl
						cnNpb25YJG9iamVjdHNZJGFyY2hp
						dmVyVCR0b3ASAAGGoKQHCBgZVSRu
						dWxs2gkKCwwNDg8QERITFBQVFRYU
						FxQUW2RvY3VtZW50VVJMXxAUc3Rh
						cnRpbmdDb2x1bW5OdW1iZXJfEBJl
						bmRpbmdDb2x1bW5OdW1iZXJfEBFj
						aGFyYWN0ZXJSYW5nZUxlbl8QEGxv
						Y2F0aW9uRW5jb2RpbmdWJGNsYXNz
						XxAQZW5kaW5nTGluZU51bWJlcll0
						aW1lc3RhbXBfEBJzdGFydGluZ0xp
						bmVOdW1iZXJfEBFjaGFyYWN0ZXJS
						YW5nZUxvY4ACE///////////EACA
						A4AAXxBgZmlsZTovLy9Vc2Vycy96
						dGNxL0RvY3VtZW50cy93b3JrZGly
						L2Zhc3RDYXNlL1hDVGVzdFdELW1h
						c3Rlci9YQ1Rlc3RXRC9YQ1Rlc3RX
						RC9Bc3NldHMueGNhc3NldHMv0hob
						HB1aJGNsYXNzbmFtZVgkY2xhc3Nl
						c18QF0RWVFRleHREb2N1bWVudExv
						Y2F0aW9uox4fIF8QF0RWVFRleHRE
						b2N1bWVudExvY2F0aW9uXxATRFZU
						RG9jdW1lbnRMb2NhdGlvblhOU09i
						amVjdF8QD05TS2V5ZWRBcmNoaXZl
						ctEjJFRyb290gAEACAARABoAIwAt
						ADIANwA8AEIAVwBjAHoAjwCjALYA
						vQDQANoA7wEDAQUBDgEQARIBFAF3
						AXwBhwGQAaoBrgHIAd4B5wH5AfwC
						AQAAAAAAAAIBAAAAAAAAACUAAAAA
						AAAAAAAAAAAAAAID
						</data>
						<key>IssueType</key>
						<string>Asset Catalog Compiler Warning</string>
						<key>Message</key>
						<string>The launch image set "LaunchImage" has 2 unassigned children.</string>
						<key>Target</key>
						<string>XCTestWD</string>
					</dict>
					<dict>
						<key>DocumentLocationData</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGJCVYJHZl
						cnNpb25YJG9iamVjdHNZJGFyY2hp
						dmVyVCR0b3ASAAGGoKQHCBscVSRu
						dWxs2gkKCwwNDg8QERITFBQVFhcY
						GRgaW2RvY3VtZW50VVJMXxAUc3Rh
						cnRpbmdDb2x1bW5OdW1iZXJfEBJl
						bmRpbmdDb2x1bW5OdW1iZXJfEBFj
						aGFyYWN0ZXJSYW5nZUxlbl8QEGxv
						Y2F0aW9uRW5jb2RpbmdWJGNsYXNz
						XxAQZW5kaW5nTGluZU51bWJlcll0
						aW1lc3RhbXBfEBJzdGFydGluZ0xp
						bmVOdW1iZXJfEBFjaGFyYWN0ZXJS
						YW5nZUxvY4ACEAwQABABgAMQ84AA
						ERtUXxBvZmlsZTovLy9Vc2Vycy96
						dGNxL0RvY3VtZW50cy93b3JrZGly
						L2Zhc3RDYXNlL1hDVGVzdFdELW1h
						c3Rlci9YQ1Rlc3RXRC9YQ1Rlc3RD
						YXNlL1hDVGVzdENhc2UvWENUZXN0
						QWNjb3V0LnN3aWZ00h0eHyBaJGNs
						YXNzbmFtZVgkY2xhc3Nlc18QF0RW
						VFRleHREb2N1bWVudExvY2F0aW9u
						oyEiI18QF0RWVFRleHREb2N1bWVu
						dExvY2F0aW9uXxATRFZURG9jdW1l
						bnRMb2NhdGlvblhOU09iamVjdF8Q
						D05TS2V5ZWRBcmNoaXZlctEmJ1Ry
						b290gAEACAARABoAIwAtADIANwA8
						AEIAVwBjAHoAjwCjALYAvQDQANoA
						7wEDAQUBBwEJAQsBDQEPAREBFAGG
						AYsBlgGfAbkBvQHXAe0B9gIIAgsC
						EAAAAAAAAAIBAAAAAAAAACgAAAAA
						AAAAAAAAAAAAAAIS
						</data>
						<key>IssueType</key>
						<string>Swift Compiler Warning</string>
						<key>Message</key>
						<string>Variable 'element' was never mutated; consider changing to 'let' constant</string>
						<key>Target</key>
						<string>XCTestWDUITests</string>
					</dict>
				</array>
			</dict>
			<key>EndedTime</key>
			<date>2018-01-15T07:17:02Z</date>
			<key>RunDestination</key>
			<dict>
				<key>LocalComputer</key>
				<dict>
					<key>BusSpeedInMHz</key>
					<integer>100</integer>
					<key>CPUCount</key>
					<integer>1</integer>
					<key>CPUKind</key>
					<string>Intel Core i5</string>
					<key>CPUSpeedInMHz</key>
					<integer>2700</integer>
					<key>Identifier</key>
					<string>A37B9A6E-1BA7-5347-9478-8469C1997735</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>LogicalCPUCoresPerPackage</key>
					<integer>4</integer>
					<key>ModelCode</key>
					<string>MacBookPro12,1</string>
					<key>ModelName</key>
					<string>MacBook Pro</string>
					<key>ModelUTI</key>
					<string>com.apple.macbookpro-13-retina-display</string>
					<key>Name</key>
					<string>My Mac</string>
					<key>NativeArchitecture</key>
					<string>x86_64h</string>
					<key>OperatingSystemVersion</key>
					<string>10.12.6</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>10.12.6 (16G29)</string>
					<key>PhysicalCPUCoresPerPackage</key>
					<integer>2</integer>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.macosx</string>
						<key>Name</key>
						<string>macOS</string>
					</dict>
					<key>RAMSizeInMegabytes</key>
					<integer>8192</integer>
				</dict>
				<key>Name</key>
				<string>mobile的 iPhone</string>
				<key>TargetArchitecture</key>
				<string>arm64</string>
				<key>TargetDevice</key>
				<dict>
					<key>Identifier</key>
					<string>32c6f3b1950ff68f487097b6984af9eb3fbe4224</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>ModelCode</key>
					<string>iPhone10,1</string>
					<key>ModelName</key>
					<string>iPhone 8 (Model A1863, A1905, A1906, A1907)</string>
					<key>ModelUTI</key>
					<string>com.apple.iphone-8-7</string>
					<key>Name</key>
					<string>mobile的 iPhone</string>
					<key>NativeArchitecture</key>
					<string>arm64</string>
					<key>OperatingSystemVersion</key>
					<string>11.0</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>11.0 (15A372)</string>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.iphoneos</string>
						<key>Name</key>
						<string>iOS</string>
					</dict>
				</dict>
				<key>TargetSDK</key>
				<dict>
					<key>Identifier</key>
					<string>iphoneos11.2</string>
					<key>IsInternal</key>
					<false/>
					<key>Name</key>
					<string>iOS 11.2</string>
					<key>OperatingSystemVersion</key>
					<string>11.2</string>
				</dict>
			</dict>
			<key>SchemeCommand</key>
			<string>Test</string>
			<key>SchemeTask</key>
			<string>BuildAndAction</string>
			<key>StartedTime</key>
			<date>2018-01-15T07:05:10Z</date>
			<key>Title</key>
			<string>Testing project XCTestWD with scheme XCTestWD</string>
		</dict>
	</array>
	<key>AnalyzerWarningCount</key>
	<integer>0</integer>
	<key>CreatingWorkspaceFilePath</key>
	<string>/Users/ztcq/Documents/workdir/fastCase/XCTestWD-master/XCTestWD/XCTestWD.xcodeproj</string>
	<key>ErrorCount</key>
	<integer>0</integer>
	<key>FormatVersion</key>
	<string>1.2</string>
	<key>Running</key>
	<false/>
	<key>TestFailureSummaries</key>
	<array>
		<dict>
			<key>DocumentLocationData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGISJYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBgZVSRudWxs2gkKCwwNDg8QERIT
			FBQVFRYUFxQUW2RvY3VtZW50VVJMXxAUc3RhcnRpbmdDb2x1bW5O
			dW1iZXJfEBJlbmRpbmdDb2x1bW5OdW1iZXJfEBFjaGFyYWN0ZXJS
			YW5nZUxlbl8QEGxvY2F0aW9uRW5jb2RpbmdWJGNsYXNzXxAQZW5k
			aW5nTGluZU51bWJlcll0aW1lc3RhbXBfEBJzdGFydGluZ0xpbmVO
			dW1iZXJfEBFjaGFyYWN0ZXJSYW5nZUxvY4ACE///////////EACA
			A4AAXxA7ZmlsZTovLy9Vc2Vycy96dGNxL0RvY3VtZW50cy93b3Jr
			ZGlyL2Zhc3RDYXNlLyUzQ3Vua25vd24lM0XSGhscHVokY2xhc3Nu
			YW1lWCRjbGFzc2VzXxAXRFZUVGV4dERvY3VtZW50TG9jYXRpb26j
			Hh8gXxAXRFZUVGV4dERvY3VtZW50TG9jYXRpb25fEBNEVlREb2N1
			bWVudExvY2F0aW9uWE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy
			0SMkVHJvb3SAAQAIABEAGgAjAC0AMgA3ADwAQgBXAGMAegCPAKMA
			tgC9ANAA2gDvAQMBBQEOARABEgEUAVIBVwFiAWsBhQGJAaMBuQHC
			AdQB1wHcAAAAAAAAAgEAAAAAAAAAJQAAAAAAAAAAAAAAAAAAAd4=
			</data>
			<key>IssueType</key>
			<string>Uncategorized</string>
			<key>Message</key>
			<string>Failed to scroll to visible (by AX action) Other, 0x1c019d9b0, traits: 8589934592, error: Error -25204 performing AXAction 2003 on element &lt;XCAccessibilityElement: 0x15fe28f90&gt; pid: 5842, elementOrHash.elementID: 7720038784.378</string>
			<key>TestCase</key>
			<string>XCTestAccout.testmodifyPayPassword()</string>
		</dict>
		<dict>
			<key>DocumentLocationData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGIiNYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBkaVSRudWxs2gkKCwwNDg8QERIT
			FBQVFRYXGBcUW2RvY3VtZW50VVJMXxAUc3RhcnRpbmdDb2x1bW5O
			dW1iZXJfEBJlbmRpbmdDb2x1bW5OdW1iZXJfEBFjaGFyYWN0ZXJS
			YW5nZUxlbl8QEGxvY2F0aW9uRW5jb2RpbmdWJGNsYXNzXxAQZW5k
			aW5nTGluZU51bWJlcll0aW1lc3RhbXBfEBJzdGFydGluZ0xpbmVO
			dW1iZXJfEBFjaGFyYWN0ZXJSYW5nZUxvY4ACE///////////EACA
			AxCRgABfEG9maWxlOi8vL1VzZXJzL3p0Y3EvRG9jdW1lbnRzL3dv
			cmtkaXIvZmFzdENhc2UvWENUZXN0V0QtbWFzdGVyL1hDVGVzdFdE
			L1hDVGVzdENhc2UvWENUZXN0Q2FzZS9YQ1Rlc3RBY2NvdXQuc3dp
			ZnTSGxwdHlokY2xhc3NuYW1lWCRjbGFzc2VzXxAXRFZUVGV4dERv
			Y3VtZW50TG9jYXRpb26jHyAhXxAXRFZUVGV4dERvY3VtZW50TG9j
			YXRpb25fEBNEVlREb2N1bWVudExvY2F0aW9uWE5TT2JqZWN0XxAP
			TlNLZXllZEFyY2hpdmVy0SQlVHJvb3SAAQAIABEAGgAjAC0AMgA3
			ADwAQgBXAGMAegCPAKMAtgC9ANAA2gDvAQMBBQEOARABEgEUARYB
			iAGNAZgBoQG7Ab8B2QHvAfgCCgINAhIAAAAAAAACAQAAAAAAAAAm
			AAAAAAAAAAAAAAAAAAACFA==
			</data>
			<key>IssueType</key>
			<string>Uncategorized</string>
			<key>Message</key>
			<string>Unable to find hit point for Other, 0x1d038ec70, traits: 8589934592</string>
			<key>TestCase</key>
			<string>XCTestAccout.testmodifyPayPassword()</string>
		</dict>
		<dict>
			<key>DocumentLocationData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGIiNYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBkaVSRudWxs2gkKCwwNDg8QERIT
			FBQVFRYXGBcUW2RvY3VtZW50VVJMXxAUc3RhcnRpbmdDb2x1bW5O
			dW1iZXJfEBJlbmRpbmdDb2x1bW5OdW1iZXJfEBFjaGFyYWN0ZXJS
			YW5nZUxlbl8QEGxvY2F0aW9uRW5jb2RpbmdWJGNsYXNzXxAQZW5k
			aW5nTGluZU51bWJlcll0aW1lc3RhbXBfEBJzdGFydGluZ0xpbmVO
			dW1iZXJfEBFjaGFyYWN0ZXJSYW5nZUxvY4ACE///////////EACA
			AxAugABfEHBmaWxlOi8vL1VzZXJzL3p0Y3EvRG9jdW1lbnRzL3dv
			cmtkaXIvZmFzdENhc2UvWENUZXN0V0QtbWFzdGVyL1hDVGVzdFdE
			L1hDVGVzdENhc2UvWENUZXN0Q2FzZS9YQ1Rlc3RTZXR0aW5nLnN3
			aWZ00hscHR5aJGNsYXNzbmFtZVgkY2xhc3Nlc18QF0RWVFRleHRE
			b2N1bWVudExvY2F0aW9uox8gIV8QF0RWVFRleHREb2N1bWVudExv
			Y2F0aW9uXxATRFZURG9jdW1lbnRMb2NhdGlvblhOU09iamVjdF8Q
			D05TS2V5ZWRBcmNoaXZlctEkJVRyb290gAEACAARABoAIwAtADIA
			NwA8AEIAVwBjAHoAjwCjALYAvQDQANoA7wEDAQUBDgEQARIBFAEW
			AYkBjgGZAaIBvAHAAdoB8AH5AgsCDgITAAAAAAAAAgEAAAAAAAAA
			JgAAAAAAAAAAAAAAAAAAAhU=
			</data>
			<key>IssueType</key>
			<string>Uncategorized</string>
			<key>Message</key>
			<string>XCTAssertEqual failed: ("") is not equal to ("账户信息") - </string>
			<key>TestCase</key>
			<string>XCTestSetting.testAbouteleme()</string>
		</dict>
	</array>
	<key>TestSummaryPath</key>
	<string>/Users/ztcq/Documents/workdir/fastCase/casereport/TestSummaries.plist</string>
	<key>TestsCount</key>
	<integer>10</integer>
	<key>TestsFailedCount</key>
	<integer>2</integer>
	<key>WarningCount</key>
	<integer>2</integer>
	<key>WarningSummaries</key>
	<array>
		<dict>
			<key>DocumentLocationData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGISJYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBgZVSRudWxs2gkKCwwNDg8QERIT
			FBQVFRYUFxQUW2RvY3VtZW50VVJMXxAUc3RhcnRpbmdDb2x1bW5O
			dW1iZXJfEBJlbmRpbmdDb2x1bW5OdW1iZXJfEBFjaGFyYWN0ZXJS
			YW5nZUxlbl8QEGxvY2F0aW9uRW5jb2RpbmdWJGNsYXNzXxAQZW5k
			aW5nTGluZU51bWJlcll0aW1lc3RhbXBfEBJzdGFydGluZ0xpbmVO
			dW1iZXJfEBFjaGFyYWN0ZXJSYW5nZUxvY4ACE///////////EACA
			A4AAXxBgZmlsZTovLy9Vc2Vycy96dGNxL0RvY3VtZW50cy93b3Jr
			ZGlyL2Zhc3RDYXNlL1hDVGVzdFdELW1hc3Rlci9YQ1Rlc3RXRC9Y
			Q1Rlc3RXRC9Bc3NldHMueGNhc3NldHMv0hobHB1aJGNsYXNzbmFt
			ZVgkY2xhc3Nlc18QF0RWVFRleHREb2N1bWVudExvY2F0aW9uox4f
			IF8QF0RWVFRleHREb2N1bWVudExvY2F0aW9uXxATRFZURG9jdW1l
			bnRMb2NhdGlvblhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEj
			JFRyb290gAEACAARABoAIwAtADIANwA8AEIAVwBjAHoAjwCjALYA
			vQDQANoA7wEDAQUBDgEQARIBFAF3AXwBhwGQAaoBrgHIAd4B5wH5
			AfwCAQAAAAAAAAIBAAAAAAAAACUAAAAAAAAAAAAAAAAAAAID
			</data>
			<key>IssueType</key>
			<string>Asset Catalog Compiler Warning</string>
			<key>Message</key>
			<string>The launch image set "LaunchImage" has 2 unassigned children.</string>
			<key>Target</key>
			<string>XCTestWD</string>
		</dict>
		<dict>
			<key>DocumentLocationData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGJCVYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBscVSRudWxs2gkKCwwNDg8QERIT
			FBQVFhcYGRgaW2RvY3VtZW50VVJMXxAUc3RhcnRpbmdDb2x1bW5O
			dW1iZXJfEBJlbmRpbmdDb2x1bW5OdW1iZXJfEBFjaGFyYWN0ZXJS
			YW5nZUxlbl8QEGxvY2F0aW9uRW5jb2RpbmdWJGNsYXNzXxAQZW5k
			aW5nTGluZU51bWJlcll0aW1lc3RhbXBfEBJzdGFydGluZ0xpbmVO
			dW1iZXJfEBFjaGFyYWN0ZXJSYW5nZUxvY4ACEAwQABABgAMQ84AA
			ERtUXxBvZmlsZTovLy9Vc2Vycy96dGNxL0RvY3VtZW50cy93b3Jr
			ZGlyL2Zhc3RDYXNlL1hDVGVzdFdELW1hc3Rlci9YQ1Rlc3RXRC9Y
			Q1Rlc3RDYXNlL1hDVGVzdENhc2UvWENUZXN0QWNjb3V0LnN3aWZ0
			0h0eHyBaJGNsYXNzbmFtZVgkY2xhc3Nlc18QF0RWVFRleHREb2N1
			bWVudExvY2F0aW9uoyEiI18QF0RWVFRleHREb2N1bWVudExvY2F0
			aW9uXxATRFZURG9jdW1lbnRMb2NhdGlvblhOU09iamVjdF8QD05T
			S2V5ZWRBcmNoaXZlctEmJ1Ryb290gAEACAARABoAIwAtADIANwA8
			AEIAVwBjAHoAjwCjALYAvQDQANoA7wEDAQUBBwEJAQsBDQEPAREB
			FAGGAYsBlgGfAbkBvQHXAe0B9gIIAgsCEAAAAAAAAAIBAAAAAAAA
			ACgAAAAAAAAAAAAAAAAAAAIS
			</data>
			<key>IssueType</key>
			<string>Swift Compiler Warning</string>
			<key>Message</key>
			<string>Variable 'element' was never mutated; consider changing to 'let' constant</string>
			<key>Target</key>
			<string>XCTestWDUITests</string>
		</dict>
	</array>
</dict>
</plist>
